img{
    height: 30%;
    width: 30%;
}

.menuTable{
    float: right;
}
#menu{
    background-color: #FFE7CC;

}

.menuHover:hover{
    text-decoration: underline;

}

.body{
    background-color: bisque;
}
td{
    padding-top: 10px;
    padding-left: 20px;
}
.profileTable{
    float: left;
    margin-top: 3%;
    background-color: #FD8A8A;
}